<div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control mb-4" id="title" name="title" placeholder="Title" required />
</div>
<div class="form-group">
    <label for="body">Body</label>
    <textarea class="form-control mb-4" id="body" name="body" rows="3" required
        placeholder="Create your article here, dont forget to put some nice :)"></textarea>
</div>
<div class="form-group">
    <laber fro="markdown">Markdown</laber>
    <textarea class="form-control mb-4" id="markdown" name="markdown" rows="3" required
        placeholder="Create your article here, dont forget to put some nice :)">
    </textarea>
</div>
<button type="button" class="btn btn-secondary"><a href="/" class="text-decoration-none text-light">Cancel</a></button>
<button type="submit" class="btn btn-primary">Submit</button>
